$background-color-light: #9ee0d0;
$background-color-dark: #9ee0cf65;
$main-color: #15725b;
$secondary-color: #608c82;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif TC", serif, "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  overflow-y: hidden;
}

// animation line breaking
.animation {
  width: 100vw;
  .logos {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .bottom {
      display: flex;
      justify-content: space-around;
    }
  }
}

.background {
  position: absolute;
  top: -10vh;
  right: 0vw;
  z-index: -1;
  width: 55vw;
  height: 120vh;
}

header {
  width: 100%;
  nav {
    width: 50%;
    padding: 1.5rem 0 1.25rem 0;
    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-around;
      padding-left: 1rem;
      li {
        font-size: 1.5rem;
        a {
          color: black;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;

  h1 {
    display: none;
  }

  section.left {
    flex: 3 1 500px;
    padding: 2rem;
    h1#home-title {
      display: block;
      font-size: 3rem;
      font-weight: 500;
      color: $secondary-color;
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1.25rem;
      padding: 1rem 0;
      text-align: justify;
    }
  }

  section.right {
    flex: 1 1 600px;
    position: relative;
    img {
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      position: absolute;
      top: 40vh;
      right: 22vw;
      transform: translateY(-50%);
    }
  }

  section.resume {
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5rem 1rem 2.5rem;
    height: 80vh;
    .resume-top {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 1rem 0;
      h1 {
        display: block;
        font-size: 1.5rem;
      }
      a {
        color: #fff;
        display: inline-block;
        width: auto;
        height: 30px;
        border-radius: 8px;
        background-color: $main-color;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1em;
        padding: 0.5rem 0.75rem;
        margin: 0.75rem 0;
        position: absolute;
        right: 0;
        &:hover {
          filter: brightness(1.15);
        }
      }
    }

    .table-wrapper {
      height: 100%;
      overflow-y: scroll;
      table {
        font-size: 1rem;
        border-collapse: collapse;
        tr {
          td:first-child {
            width: 15%;
          }
          td {
            padding: 0.75rem 1rem;
            border-bottom: 3px solid #c4c4c4;
            p,
            ul li {
              margin-bottom: 0.4rem;
            }
            ul {
              padding-left: 1.5rem;
              font-size: 1rem;
            }
            div.icons {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
              img {
                width: 3.5%;
                height: 3.5%;
                min-width: 48px;
                min-height: 48px;
              }
            }
            &.autobiography {
              p:not(:first-child) {
                text-indent: 2rem;
              }
            }
          }
          .tbTitle {
            font-size: 1.15rem;
            text-align: center;
          }
          &:hover {
            background-color: $background-color-dark;
          }
        }
      }
    }
  }

  section.person {
    flex: 1 1 300px;
    padding: 2rem;
    position: relative;
    img {
      width: 25vw;
      transform: translate(10%, -5%);
    }
    div.rectBackground {
      width: 25vw;
      height: 40vw;
      background-color: $background-color-light;
      position: absolute;
      top: 70px;
      right: 90px;
      z-index: -1;
    }
  }

  section.form {
    flex: 1 1 550px;
    height: inherit;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    h2,
    form {
      width: 80%;
    }
    h2 {
      font-size: 1rem;
      line-height: 1.75em;
      padding: 1.5rem 0;
      a {
        color: $main-color;
        text-decoration: underline;
      }
    }
    form {
      display: flex;
      flex: wrap;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      input,
      textarea {
        min-width: 80%;
        width: 100%;
        background-color: #e0ddddd8;
        color: $main-color;
        border: none;
        font-size: 1.25rem;
        padding: 0.2rem 0.25rem;
        margin: 0 auto;
      }
      input:required,
      textarea:required {
        box-shadow: none;
      }
      textarea {
        resize: vertical;
        height: 200px;
      }
      button {
        align-self: center;
        border: none;
        border-radius: 5px;
        font-size: 1.15rem;
        padding: 0.5rem 1.25rem;
        background-color: $background-color-light;
        color: white;
        font-weight: bold;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  section.map-wrapper {
    flex: 1 1 550px;
    width: 100%;
    max-height: 80vh;
    #map {
      position: relative;
      top: -20vh;
      z-index: 10;
      width: 100%;
      height: 110vh;
    }
  }
}

footer {
  width: 100%;
  margin-top: 0.5rem;
  div.icons {
    margin-left: 1rem;
    width: 15%;
    display: flex;
    justify-content: space-around;
    a {
      text-decoration: none;
      img {
        width: 2.5vw;
        height: 2.5vw;
      }
    }
  }
}

.active {
  color: $main-color;
  font-weight: bolder;
  text-decoration: underline;
}

// rwd setting
@media screen and (max-width: 1100px) {
  body {
    overflow-y: scroll;
  }

  .background {
    top: 60vh;
  }

  header {
    nav {
      width: 90%;
      ul {
        display: flex;
        flex-direction: column;
        li {
          border-bottom: 1px solid gray;
          padding: 1rem 0;
        }
      }
    }
    margin-bottom: 1rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    h1 {
      display: block;
      font-size: 1.75rem;
      text-align: center;
      margin: 1rem 0;
    }
    section.left {
      p {
        font-size: 1.5rem;
      }
    }

    section.right {
      flex: 1 1 300px;
      img {
        width: 30vw;
        height: 30vw;
        position: static;
        transform: none;
      }
    }

    section.person {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 300px;
      img {
        width: 50vw;
        transform: translate(0);
      }
      div.rectBackground {
        display: none;
      }
    }

    section.resume {
      height: auto;
      .resume-top {
        flex-direction: column;
        a {
          position: static;
        }
      }
      .table-wrapper {
        padding: 0 1.75rem;
        table {
          tr {
            display: flex;
            flex-direction: column;
            td:first-child {
              width: 100%;
            }
            td {
              gap: 1rem;
              div.icons {
                justify-content: center;
              }
            }
          }
        }
        table,
        table td ul {
          font-size: 1.1rem;
        }
      }
    }

    section.form {
      flex: 1 1 auto;
      width: 100%;
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        input {
          min-width: 70%;
        }
      }
    }

    section.map-wrapper {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      max-height: none;
      margin: 2rem 0;
      #map {
        position: static;
        top: auto;
        width: 80vw;
        height: 50vw;
      }
    }
  }

  footer {
    div.icons {
      width: 50%;
      margin: 2rem auto;
      a {
        img {
          width: 6vw;
          height: 6vw;
        }
      }
    }
  }
}

@media screen and(max-width: 990px) {
  .bottom {
    flex-direction: column;
    gap: 2rem;
  }
}
