* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Noto Serif TC", serif, "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  overflow-y: hidden;
}

.animation {
  width: 100vw;
}

.animation .logos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.animation .logos .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.background {
  position: absolute;
  top: -10vh;
  right: 0vw;
  z-index: -1;
  width: 55vw;
  height: 120vh;
}

header {
  width: 100%;
}

header nav {
  width: 50%;
  padding: 1.5rem 0 1.25rem 0;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 1rem;
}

header nav ul li {
  font-size: 1.5rem;
}

header nav ul li a {
  color: black;
  text-decoration: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 80vh;
}

main h1 {
  display: none;
}

main section.left {
  -webkit-box-flex: 3;
      -ms-flex: 3 1 500px;
          flex: 3 1 500px;
  padding: 2rem;
}

main section.left h1#home-title {
  display: block;
  font-size: 3rem;
  font-weight: 500;
  color: #608c82;
  margin-bottom: 0.5rem;
}

main section.left p {
  font-size: 1.25rem;
  padding: 1rem 0;
  text-align: justify;
}

main section.right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  position: relative;
}

main section.right img {
  width: 18vw;
  height: 18vw;
  border-radius: 50%;
  position: absolute;
  top: 40vh;
  right: 22vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main section.resume {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 600px;
          flex: 1 1 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1.5rem 1rem 2.5rem;
  height: 80vh;
}

main section.resume .resume-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 1rem 0;
}

main section.resume .resume-top h1 {
  display: block;
  font-size: 1.5rem;
}

main section.resume .resume-top a {
  color: #fff;
  display: inline-block;
  width: auto;
  height: 30px;
  border-radius: 8px;
  background-color: #15725b;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1em;
  padding: 0.5rem 0.75rem;
  margin: 0.75rem 0;
  position: absolute;
  right: 0;
}

main section.resume .resume-top a:hover {
  -webkit-filter: brightness(1.15);
          filter: brightness(1.15);
}

main section.resume .table-wrapper {
  height: 100%;
  overflow-y: scroll;
}

main section.resume .table-wrapper table {
  font-size: 1rem;
  border-collapse: collapse;
}

main section.resume .table-wrapper table tr td:first-child {
  width: 15%;
}

main section.resume .table-wrapper table tr td {
  padding: 0.75rem 1rem;
  border-bottom: 3px solid #c4c4c4;
}

main section.resume .table-wrapper table tr td p,
main section.resume .table-wrapper table tr td ul li {
  margin-bottom: 0.4rem;
}

main section.resume .table-wrapper table tr td ul {
  padding-left: 1.5rem;
  font-size: 1rem;
}

main section.resume .table-wrapper table tr td div.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

main section.resume .table-wrapper table tr td div.icons img {
  width: 3.5%;
  height: 3.5%;
  min-width: 48px;
  min-height: 48px;
}

main section.resume .table-wrapper table tr td.autobiography p:not(:first-child) {
  text-indent: 2rem;
}

main section.resume .table-wrapper table tr .tbTitle {
  font-size: 1.15rem;
  text-align: center;
}

main section.resume .table-wrapper table tr:hover {
  background-color: #9ee0cf65;
}

main section.person {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  padding: 2rem;
  position: relative;
}

main section.person img {
  width: 25vw;
  -webkit-transform: translate(10%, -5%);
          transform: translate(10%, -5%);
}

main section.person div.rectBackground {
  width: 25vw;
  height: 40vw;
  background-color: #9ee0d0;
  position: absolute;
  top: 70px;
  right: 90px;
  z-index: -1;
}

main section.form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  height: inherit;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

main section.form h2,
main section.form form {
  width: 80%;
}

main section.form h2 {
  font-size: 1rem;
  line-height: 1.75em;
  padding: 1.5rem 0;
}

main section.form h2 a {
  color: #15725b;
  text-decoration: underline;
}

main section.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1rem;
}

main section.form form input,
main section.form form textarea {
  min-width: 80%;
  width: 100%;
  background-color: #e0ddddd8;
  color: #15725b;
  border: none;
  font-size: 1.25rem;
  padding: 0.2rem 0.25rem;
  margin: 0 auto;
}

main section.form form input:required,
main section.form form textarea:required {
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section.form form textarea {
  resize: vertical;
  height: 200px;
}

main section.form form button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 5px;
  font-size: 1.15rem;
  padding: 0.5rem 1.25rem;
  background-color: #9ee0d0;
  color: white;
  font-weight: bold;
}

main section.form form button:hover {
  cursor: pointer;
}

main section.map-wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  width: 100%;
  max-height: 80vh;
}

main section.map-wrapper #map {
  position: relative;
  top: -20vh;
  z-index: 10;
  width: 100%;
  height: 110vh;
}

footer {
  width: 100%;
  margin-top: 0.5rem;
}

footer div.icons {
  margin-left: 1rem;
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div.icons a {
  text-decoration: none;
}

footer div.icons a img {
  width: 2.5vw;
  height: 2.5vw;
}

.active {
  color: #15725b;
  font-weight: bolder;
  text-decoration: underline;
}

@media screen and (max-width: 1100px) {
  body {
    overflow-y: scroll;
  }
  .background {
    top: 60vh;
  }
  header {
    margin-bottom: 1rem;
  }
  header nav {
    width: 90%;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header nav ul li {
    border-bottom: 1px solid gray;
    padding: 1rem 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
  }
  main h1 {
    display: block;
    font-size: 1.75rem;
    text-align: center;
    margin: 1rem 0;
  }
  main section.left p {
    font-size: 1.5rem;
  }
  main section.right {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
  main section.right img {
    width: 30vw;
    height: 30vw;
    position: static;
    -webkit-transform: none;
            transform: none;
  }
  main section.person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 300px;
            flex: 1 1 300px;
  }
  main section.person img {
    width: 50vw;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  main section.person div.rectBackground {
    display: none;
  }
  main section.resume {
    height: auto;
  }
  main section.resume .resume-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.resume .resume-top a {
    position: static;
  }
  main section.resume .table-wrapper {
    padding: 0 1.75rem;
  }
  main section.resume .table-wrapper table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.resume .table-wrapper table tr td:first-child {
    width: 100%;
  }
  main section.resume .table-wrapper table tr td {
    gap: 1rem;
  }
  main section.resume .table-wrapper table tr td div.icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main section.resume .table-wrapper table,
  main section.resume .table-wrapper table td ul {
    font-size: 1.1rem;
  }
  main section.form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    width: 100%;
  }
  main section.form div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.form div input {
    min-width: 70%;
  }
  main section.map-wrapper {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: none;
    margin: 2rem 0;
  }
  main section.map-wrapper #map {
    position: static;
    top: auto;
    width: 80vw;
    height: 50vw;
  }
  footer div.icons {
    width: 50%;
    margin: 2rem auto;
  }
  footer div.icons a img {
    width: 6vw;
    height: 6vw;
  }
}

@media screen and (max-width: 990px) {
  .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
  }
}
/*# sourceMappingURL=style.css.map */