// google fonts
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&family=Roboto:wght@300&display=swap");

$background-color-light: #9ee0d0;
$background-color-dark: #9ee0cf65;
$main-color: #15725b;
$main-color-bright: #1c9778;
$secondary-color: #608c82;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans TC", "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
}

body {
  overflow-y: hidden;
}

// animation line breaking
.animation {
  width: 100vw;
  .logos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .bottom {
      display: flex;
      gap: 3rem;
    }
  }
}

.background {
  position: absolute;
  top: -10vh;
  right: 0vw;
  z-index: -1;
  width: 55vw;
  height: 120vh;
}

header {
  width: 100%;
  nav {
    width: 50%;
    padding: 1.5rem 0 1.25rem 0;
    #burger-toggler,
    .burger-wrapper {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-around;
      padding-left: 1rem;
      list-style-type: none;
      font-size: 1.25rem;
      li {
        a {
          text-decoration: none;
          color: black;
          &.active {
            color: $main-color;
            font-weight: bolder;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 80vh;
  h1 {
    display: none;
  }

  // homepage
  .left {
    flex: 3 1 500px;
    padding: 2rem 0 2rem 2rem;
    h1#home-title {
      display: block;
      margin-bottom: 0.5rem;
      font-size: 3rem;
      font-weight: 500;
      color: $secondary-color;
    }
    p {
      padding: 0.75rem 0;
      font-size: 1.25rem;
      line-height: 1.75rem;
      text-align: justify;
    }
  }

  .right {
    position: relative;
    flex: 1 1 600px;
    img {
      position: absolute;
      top: 40vh;
      right: 22vw;
      width: 18vw;
      height: 18vw;
      border-radius: 50%;
      transform: translateY(-50%);
    }
  }

  // about page
  .resume {
    flex: 1 1 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding: 0 1.5rem 1rem 2.5rem;
    .resume-top {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin: 1rem 0;
      h1 {
        display: block;
        font-size: 1.5rem;
      }
      a {
        position: absolute;
        right: 0;
        display: inline-block;
        width: auto;
        height: 40px;
        padding: 0 0.75rem;
        margin: 0.75rem 0;
        background-color: $main-color;
        color: #fff;
        border-radius: 8px;
        line-height: 2em;
        font-size: 1.25rem;
        text-align: center;
        &:hover {
          filter: brightness(1.15);
        }
      }
    }

    .table-wrapper {
      height: 100%;
      overflow-y: scroll;
      table {
        border-collapse: collapse;
        font-size: 1rem;
        tr {
          td:first-child {
            width: 15%;
          }
          td {
            padding: 0.75rem 1rem;
            border-bottom: 3px solid #c4c4c4;
            p,
            ul li {
              margin-bottom: 0.4rem;
            }
            ul {
              padding-left: 1.5rem;
              font-size: 1rem;
            }
            div.icons {
              display: flex;
              flex-wrap: wrap;
              gap: 0.5rem;
              img {
                width: 3.5%;
                height: 3.5%;
                min-width: 48px;
                min-height: 48px;
              }
            }
            &.autobiography {
              text-align: justify;
              p:not(:first-child) {
                text-indent: 2rem;
              }
            }
          }
          .tbTitle {
            font-size: 1.15rem;
            text-align: center;
          }
          &:hover {
            background-color: $background-color-dark;
          }
        }
      }
    }
  }

  .person {
    position: relative;
    flex: 1 1 300px;
    padding: 2rem;
    img {
      width: 25vw;
      transform: translate(10%, -5%);
    }
    .rectBackground {
      position: absolute;
      top: 70px;
      right: 90px;
      z-index: -1;
      width: 25vw;
      height: 40vw;
      background-color: $background-color-light;
    }
  }

  // project page
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    width: inherit;
    height: 80vh;
    overflow-y: scroll;
    padding: 5rem 2rem;
    font-size: 1.1rem;
    .project {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 3rem;
      width: 85%;
      height: 25em;
      min-height: 40vh;
      .project-card {
        flex: 1 1 300px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        overflow: hidden;
        border-radius: 8px;
        box-shadow: 4px 4px 5px #767676;
        .img-container {
          height: inherit;
          overflow: hidden;
          img {
            height: 100%;
            object-fit: cover;
          }
        }
        .project-links {
          position: absolute;
          z-index: 10;
          display: flex;
          justify-content: center;
          align-items: flex-end;
          gap: 3em;
          width: 100%;
          height: 200%;
          overflow-y: hidden;
          background: rgba(255, 255, 255, 0.2);
          transition: all 0.25s ease-in-out;
          &:hover {
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
          }
          a {
            position: relative;
            top: -0.25rem;
            img {
              width: 2.5vw;
              height: 2.5vw;
              min-width: 32px;
              min-height: 32px;
              filter: brightness(2);
            }
          }
        }
      }
      .project-info {
        position: relative;
        flex: 1.5 1 450px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
        height: 100%;
        h2 {
          font-size: 2rem;
        }
        h3 {
          font-size: 1rem;
          color: #767676;
        }
        ul {
          padding-left: 1rem;
          list-style-position: inside;
          li {
            margin: 0.75rem 0;
          }
        }
        .tags {
          position: absolute;
          bottom: 0;
          display: flex;
          gap: 0.1rem;
          width: 50%;
          font-size: 0.75rem;
          .tag {
            padding: 0.25rem 0.75rem;
            margin: 0 0.5rem;
            border-radius: 8px;
            color: #fff;
          }
          .html {
            background: rgba(255, 43, 43, 0.9);
          }
          .css {
            background: rgb(0, 89, 255);
          }
          .scss {
            background: rgba(3, 58, 158, 0.7);
          }
          .js {
            background: rgb(252, 255, 65);
            color: #000;
          }
          .react {
            background: rgb(0, 225, 255);
            color: #000;
          }
        }
      }
    }
  }
}

// contact page
.form {
  flex: 1 1 550px;
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  overflow-y: auto;
  h2,
  form {
    width: 80%;
  }
  h2 {
    padding: 1.5rem 0;
    font-size: 1rem;
    line-height: 1.75em;
    a {
      text-decoration: underline;
      color: $main-color;
    }
  }
  form {
    display: flex;
    flex: wrap;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
    input,
    textarea {
      min-width: 80%;
      width: 100%;
      padding: 0.2rem 0.25rem;
      margin: 0 auto;
      background-color: #e0ddddd8;
      font-size: 1.15rem;
      color: $main-color;
      border: none;
    }
    input:required,
    textarea:required {
      box-shadow: none;
    }
    textarea {
      height: 180px;
      resize: vertical;
    }
    button {
      align-self: center;
      padding: 0.5rem 1rem;
      background-color: $background-color-light;
      border: none;
      border-radius: 5px;
      font-size: 1.1rem;
      font-weight: bold;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.map-wrapper {
  flex: 1 1 550px;
  width: 100%;
  max-height: 80vh;
  #map {
    position: relative;
    top: -20vh;
    z-index: 10;
    width: 100%;
    height: 110vh;
  }
}

footer {
  width: 100%;
  padding-top: 0.5rem;
  .icons {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    width: 20%;
    padding-left: 1.5rem;
    a {
      text-decoration: none;
      img {
        width: 2.5vw;
        height: 2.5vw;
      }
    }
  }
}

.finger-right {
  display: inline-block;
  font-size: 2.5rem;
}

.shaking {
  animation: shaking 280ms infinite;
}

.button-red {
  display: inline-block;
  margin: 0 0.25rem;
  padding: 0.25rem 0.5rem;
  background: #ff4f4f;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: all 0.05s ease;
}

.button-red:hover {
  background: #ff0000;
  font-weight: bold;
  box-shadow: 0 0 15px 2px #ffb224;
  transform: scale(1.15) translateX(5px);
}

@keyframes shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-1px);
  }
  100% {
    transform: translateX(0);
  }
}

// rwd setting
@media screen and (max-width: 1100px) {
  body {
    overflow-y: scroll;
  }

  .background {
    display: none;
  }

  header {
    nav {
      width: 100%;
      // hamburger menu setting
      .burger-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1.25rem;
        width: 100vw;
        height: 55px;
        label {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 30px;
          height: 100%;
          cursor: pointer;
          .burger-button,
          .burger-button:before,
          .burger-button:after {
            display: block;
            right: 0;
            width: 30px;
            height: 5px;
            position: absolute;
            background: #767676;
            border-radius: 2px;
            transition: transform 0.35s ease-in-out, background-color 0s ease;
          }
          .burger-button:before {
            content: "";
            top: -10px;
          }
          .burger-button:after {
            content: "";
            top: 10px;
          }
        }
      }
      .burger-menu {
        display: flex;
        flex-direction: column;
        padding: 0 1.5rem;
        text-align: center;
        overflow-y: hidden;
        li {
          a {
            display: block;
            color: inherit;
            &.active {
              text-decoration: none;
            }
            &:hover,
            &.active:hover {
              font-weight: bolder;
              background-color: #f0f0f0;
            }
            &:hover:before {
              content: "";
              display: block;
              position: absolute;
              width: 0.35em;
              height: 1.5em;
              background: #000;
            }
          }
        }
      }
      #burger-toggler ~ .burger-menu li,
      #burger-toggler ~ .burger-menu li a {
        height: 0;
        border: 0;
        padding: 0;
        transition: height 0.5s ease;
      }
      #burger-toggler:checked ~ .burger-menu > li {
        height: 100%;
        border-bottom: 1px solid #c4c4c4;
        transition: height 0.5s ease;
      }
      #burger-toggler:checked ~ .burger-menu a {
        height: 2.5em;
        padding: 0.5em 0;
        transition: height 0.5s ease, padding 0.5s ease;
      }
      #burger-toggler:checked + .burger-wrapper {
        label {
          .burger-button:before {
            top: 0;
            transform: rotate(405deg);
          }
          .burger-button {
            background: rgba(0, 0, 0, 0);
          }
          .burger-button:after {
            top: 0;
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 1rem 0 2rem 0;
    gap: 1.5rem;
    h1 {
      display: block;
      font-size: 1.75rem;
      text-align: center;
      margin: 1rem 0;
    }
    section.left {
      padding: 1rem 1.5rem;
      p {
        font-size: 1.5rem;
      }
    }

    section.right {
      flex: 1 1 auto;
      img {
        width: 30vw;
        height: 30vw;
        position: static;
        transform: none;
      }
    }

    section.person {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1 300px;
      img {
        width: 50vw;
        transform: translate(0);
      }
      div.rectBackground {
        display: none;
      }
    }

    section.resume {
      height: auto;
      padding: 0;
      .resume-top {
        flex-direction: column;
        a {
          position: static;
        }
      }
      .table-wrapper {
        padding: 0 2rem;
        overflow-y: unset;
        table {
          tr {
            display: flex;
            flex-direction: column;
            td:first-child {
              width: 100%;
            }
            td {
              gap: 1rem;
              div.icons {
                justify-content: center;
              }
            }
          }
        }
        table,
        table td ul {
          font-size: 1.1rem;
        }
      }
    }

    section.form {
      flex: 1 1 auto;
      width: 100%;
      margin-right: unset;
      div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        input {
          min-width: 70%;
        }
      }
    }

    section.map-wrapper {
      flex: 1 1 auto;
      display: flex;
      justify-content: center;
      max-height: none;
      margin: 2rem 0;
      #map {
        position: static;
        top: auto;
        width: 80vw;
        height: 50vw;
      }
    }
  }

  footer {
    div.icons {
      width: 50%;
      margin: 1.5rem auto;
      padding-left: 0;
      a {
        img {
          width: 5vw;
          height: 5vw;
        }
      }
    }
  }
}

@media screen and(max-width: 990px) {
  .bottom {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }
}

@media screen and (max-width: 750px) {
  main {
    section.right {
      img {
        width: 30vw;
        height: 30vw;
      }
    }
  }

  footer {
    div.icons {
      a {
        img {
          width: 7vw;
          height: 7vw;
        }
      }
    }
  }
}
